body,html {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-flow: row wrap;
}

.main{ 
    position: sticky;
    width: 100%;
    display: flex;
}
@media screen and (max-width: 1240px){
    .main{
        display:table;
        float: left;
        width: 100%;
        margin-left: 10;
        padding-left: 10;
        flex-wrap: 0;
    }
}
.left-side{ 
    width: 25%;
    height: 50%;
    flex-shrink: 0;
}

.right-side{ 
    width: 100%;
    position: static;
    left: 25%;
    
}